.header {
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
    justify-content: space-between;
}

h1 {
    color: #E30611;
}

.profile_picture {
    border-radius: 50%;
    max-width: 60px;
}

object {
    max-width: 150px;
}

@media (max-width: 768px) {
    .header {
        padding: 20px;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 20px;
        margin-top: 20px;
    }

    .profile_picture {
        max-width: 50px;
    }
}
