.header {
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
    justify-content: space-between;
}

h1 {
    color: red;
}

img {
    border-radius: 50%;
    max-width: 70px;
}

object {
    max-width: 150px;
  }